.controleContainer {
  display: flex;
  justify-content: center;
  margin: 0.5em 1em 1em 1em;
}

.miseContainer {
  display: flex;
  align-items: center;
  color: #0f0018;
  margin: 0 0.5em;
  padding: 0 1em;
  width: 40%;
  background: #9907F4;
  border: 5px solid #0f0018;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
}

.entree {
  width: 1px;
  flex-grow: 1;
  margin: 0 0 0 0.5em;
  font-size: 200%;
  text-align: right;
  margin: 5px;
  padding: 0;
  border: 0;
  outline: 0;
  background: #9907F4;
  color: #0f0018;
}

.entreeErreur {
  width: 1px;
  flex-grow: 1;
  margin: 0 0 0 0.5em;
  font-size: 200%;
  text-align: right;
  margin: 5px;
  padding: 0;
  border: 0;
  outline: 0;
  background: #9907F4;
  color: red;
}

.entree::-webkit-inner-spin-button,
.entreeErreur::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bouton {
  color: #0f0018;
  font-weight: bold;
  margin: 0 0.5em;
  padding: 1em;
  width: 30%;
  background: #9907F4;
  outline: none;
  border: 5px solid #0f0018;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
}

@media (hover: hover) {
  .bouton:hover {
    color: #9907F4;
    background: #0f0018;
    border: 5px solid #9907F4;
  }
}

.bouton:disabled {
  color: #0f0018;
  background: #4c037a;
  border: 5px solid #0f0018;
}

@media screen and (max-width: 992px) {
  .miseContainer {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .miseContainer {
    width: 70%;
  }

  .miseContainer h4 {
    font-size: 75%;
  }

  .miseContainer input {
    font-size: 125%;
  }
}